<html>
<head>
<style>

    body {
        text-align: center;
        margin-top: 50px;
        font-size: 25px;
        background: aqua;
    }

    h1 {
        color: red;
        font: bold;
    }

</style>
</head>


<body>
    <h1>COVID COUNTRY INFORMATION</h1><br>
    <form method="POST">
        <label>ENTER A COUNTRY CODE</label><br><br>
        <input placeholder="type Country code here" name="text">
        <input type = 'submit'>
    </form>
    <img src='{{image}}'>


    <p>You Visited This Application {{ count }} Times.</p>
</body>
</html>
